.theme-siamone {
	.sc-offers {
		background-color: white;
		.sc-inner {
			padding-top: 0;
		}
		.caption {
			.action {
				margin-top: 15px;
				a {
					display: block;
				}
			}
		}
		.cards {
			display: flex;
			flex-direction: row;
			.card {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				width: 100%;
				padding: 30px 45px;
				&:first-child {
					border-right: solid 1px #EEEEEE;
				}
				.image {
					margin-right: 45px;
					i {
						font-size: 50px;
					}
				}
				.caption {
					p {
						margin-top: 5px;
					}
				}
			}
		}
		.cards[data-cards-row="1"] {
			border: solid 1px #EEEEEE;
			border-radius: 10px 10px 0 0;
		}
		.cards[data-cards-row="2"] {
			border-style: solid;
			border-color: #EEEEEE;
			border-width: 0 1px 1px 1px;
			border-radius: 0 0 10px 10px;
		}
	}
}
@media screen and (max-width: 991px) {
	.theme-siamone {
		.sc-offers {
			.sc-inner {
				padding-top: 30px;
			}
			.cards {
				.card {
					flex-direction: column;
					align-items: center;
					text-align: center;
					padding: 30px 15px;
					.image {
						margin-right: 0;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.theme-siamone {
		.sc-offers {
			.cards[data-cards-row] {
				flex-direction: column;
				border-left: 0;
				border-right: 0;
				border-radius: 0;
			}
			.cards {
				.card {
					border-radius: 0;
					&:first-child {
						border-right: 0;
						border-bottom: solid 1px #EEEEEE;
					}
				}
			}
		}
	}
}
