.theme-siamone {
	.sc-services {
		background-color: white;
		.cards {
			border-radius: 10px;
			margin-bottom: 0;
			.card {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				padding: 0 30px;
				>.img-slot {
					width: 55%;
					img {
						width: 480px;
						margin-left: auto;
					}
				}
				.dots-slot {
					position: relative;
					margin-top: 40px;
					text-align: left;
					.slick-dots {
						position: relative;
						text-align: left;
						li {
							&:first-child {
								margin-left: 0;
							}
							button {
								background: rgba(0, 168, 80, 0.3);
							}
						}
						li.slick-active {
							button {
								background: #00A950;
							}
						}
					}
				}
			}
			.card.slick-slide {
				img {
					-webkit-transition: all 1s 0s ease-in-out;
					-moz-transition: all 1s 0s ease-in-out;
					-o-transition: all 1s 0s ease-in-out;
					transition: all 1s 0s ease-in-out;
					opacity: 0;
				}
				h2 {
					-webkit-transition: all 1s 0s ease-in-out;
					-moz-transition: all 1s 0s ease-in-out;
					-o-transition: all 1s 0s ease-in-out;
					transition: all 1s 0s ease-in-out;
					opacity: 0;
				}
				p {
					-webkit-transition: all 1s 0s ease-in-out;
					-moz-transition: all 1s 0s ease-in-out;
					-o-transition: all 1s 0s ease-in-out;
					transition: all 1s 0s ease-in-out;
					opacity: 0;
				}
				.action {
					-webkit-transition: all 1s 0s ease-in-out;
					-moz-transition: all 1s 0s ease-in-out;
					-o-transition: all 1s 0s ease-in-out;
					transition: all 1s 0s ease-in-out;
					opacity: 0;
					opacity: 1;
				}
			}
			.card.slick-active {
				img {
					opacity: 1;
				}
				h2 {
					opacity: 1;
				}
				p {
					opacity: 1;
				}
			}
			.slick-prev {
				left: 15px;
			}
			.slick-next {
				right: 15px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.theme-siamone {
		.sc-services {
			.cards {
				border-radius: 0;
				.card {
					justify-content: center;
					padding: 30px;
					.caption {
						text-align: center;
						>.img-slot {
							img {
								width: 275px;
								margin: auto;
							}
						}
					}
					.action {
						margin-top: 0;
					}
					.dots-slot {
						margin-top: 15px;
						.slick-dots {
							text-align: center;
							li {
								&:first-child {
									margin-left: unset;
								}
							}
						}
					}
				}
			}
		}
	}
}
