<section class="section">

    <!-- floating apply desktop -->
    <div class="sc-floating-apply">
      <div class="container">
        <div class="sc-content">
          <ul>
            <li><a href="#special-offers" class="display-7 pxtm-click-navMenu link-scroll" title="fixed nav desktop - ข้อเสนอพิเศษ">ข้อเสนอพิเศษ</a></li>
            <li><a href="#benefits" class="display-7 pxtm-click-navMenu link-scroll" title="fixed nav desktop - สิทธิประโยชน์">สิทธิประโยชน์</a></li>
            <li><a href="#KPlus-services" class="display-7 pxtm-click-navMenu link-scroll" title="fixed nav desktop - บริการเสริม">บริการเสริม</a></li>
            <li><a href="#application-details" class="display-7 pxtm-click-navMenu link-scroll" title="fixed nav desktop - รายละเอียดการสมัคร">รายละเอียดการสมัคร</a></li>
          </ul>
          <div class="action">
            <a href="#apply" class="btn btn-gradient pxtm-click-floatingApply link-scroll" title="fixed nav desktop - สมัครบัตร">สมัครบัตร</a>
          </div>
        </div>
      </div>
    </div>

    <!-- floating apply mobile -->
    <div class="sc-floating-apply-m" data-auto-detection="true">
      <div class="container">
        <div class="sc-content">
          <img src="/SiteCollectionDocuments/kcc/linepoints/img/card/linepoint-card.jpg" alt="บัตรเครดิตกสิกรไทย - LINE POINTS">
          <p class="display-7"><strong>บัตรเครดิตกสิกรไทย -<br/>LINE POINTS</strong></p>
          <div class="action">
            <a href="#apply" class="btn btn-gradient link-scroll pxtm-click-floatingApply" title="fixed nav mobile - สมัครบัตร">สมัครบัตร</a>
          </div>
        </div>
      </div>
    </div>
      
    <div class="product-details">

      <section id="product-hero" class="section sc-product-hero product-detail-hl fx-section" data-dl-section="product-hero">
        <div class="image a-center hidden-w767">
          <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/hero/banner-desktop.png"
            data-src="/SiteCollectionDocuments/kcc/linepoints/img/hero/banner-desktop.png" alt="">
        </div>
        <div class="cards visible-w767">
          <div class="card" data-card-index="0">
            <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/hero/banner-black.png"
              data-src="/SiteCollectionDocuments/kcc/linepoints/img/hero/banner-black.png" alt="">
          </div>
          <div class="card" data-card-index="1">
            <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/hero/banner-silver-brown.png"
              data-src="/SiteCollectionDocuments/kcc/linepoints/img/hero/banner-silver-brown.png" alt="">
          </div>
          <div class="card" data-card-index="2">
            <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/hero/banner-silver-mix.png"
              data-src="/SiteCollectionDocuments/kcc/linepoints/img/hero/banner-silver-mix.png" alt="">
          </div>
        </div>
        <div class="detail mt-30">
          <div class="sc-heading a-center no-bt">
            <h1 class="">บัตรเครดิตกสิกรไทย - <br class="visible-w767">LINE POINTS</h1>
            <p class="display-6 desc">คืนเยอะ ได้ไว ใช้ให้สุด</p>
          </div>
        </div>
      </section>
          
      <section id="carousel" class="section sc-special sc-over-hidden fx-section" data-dl-section="carousel">
        <div class="sc-inner-s">
          <div class="container">
            <div class="sc-heading a-center">
              <h2>ดีลปัง! <span class="c-green">เฉพาะบัตรนี้</span></h2>
            </div>

            <div class="cards">

              <div class="card">
                <div class="image">
                  <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/carousel/promotion-fast-point.jpg"
                    data-src="/SiteCollectionDocuments/kcc/linepoints/img/carousel/promotion-fast-point.jpg" alt="">
                </div>
                <div class="caption">
                  <h3 class="h4">LINE POINT เข้าไวใน 1 วัน</h3>
                  <p>รับ LINE POINTS เข้าวันถัดไป นับจากวันที่ร้านค้าเรียกเก็บเงินจากธนาคารฯ</p>
                  <div class="action">
                    <a href="#LINEPOINTS-promotion-1day" class="link more toggle-popup pxtm-click-openPopup">รายละเอียด และเงื่อนไข</a>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="image">
                  <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/carousel/promotion-point-bath.jpg"
                    data-src="/SiteCollectionDocuments/kcc/linepoints/img/carousel/promotion-point-bath.jpg" alt="">
                </div>
                <div class="caption">
                  <h3 class="h4">1 LINE POINTS = 1 บาท</h3>
                  <p>ใช้แทนเงินสดได้ที่ร้านค้าของ Rabbit LINE Pay กว่า 300,000 ร้านค้า</p>
                  <div class="action">
                    <a href="#LINEPOINTS-promotion-1baht" class="link more toggle-popup pxtm-click-openPopup">รายละเอียด และเงื่อนไข</a>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="image">
                  <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/carousel/promotion-point-back.jpg"
                    data-src="/SiteCollectionDocuments/kcc/linepoints/img/carousel/promotion-point-back.jpg" alt="">
                </div>
                <div class="caption">
                  <h3 class="h4">รับ LINE POINTS 3% ทุกการใช้จ่ายผ่านบัตร</h3>
                  <p>ตั้งแต่เดือน 13 พ.ค. 64 ถึง <br class="visible-w374" />12 พ.ค. 65</p>
                  <div class="action">
                    <a href="#LINEPOINTS-promotion-3perback" class="link more toggle-popup pxtm-click-openPopup">รายละเอียด และเงื่อนไข</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
          
      <section id="special-offers" class="section sc-offers sc-no-p-m fx-section" data-dl-section="special-offers">
        <div class="sc-inner">
          <div class="sc-container container">
            <div class="sc-heading a-center">
              <h2>ข้อเสนอพิเศษ</h2>
            </div>

            <div class="cards" data-cards-row="1">
              <div class="card">
                <div class="image">
                  <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/offer/tag.png"
                    data-src="/SiteCollectionDocuments/kcc/linepoints/img/offer/tag.png" alt="">
                </div>
                <div class="caption">
                  <h3 class="h4">รับ E-Coupon มูลค่า 300 บาท</h3>
                  <p class="font-default">จาก AIS, DTAC, SF CINEMA, LINE STORE, Watsons, BTS, Dairy Queen และ McDonald’s</p>
                  <div class="action">
                    <a href="javascript:void;" class="link more popup-contentXX">รายละเอียด และเงื่อนไข</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/offer/get-coin.png"
                    data-src="/SiteCollectionDocuments/kcc/linepoints/img/offer/get-coin.png" alt="">
                </div>
                <div class="caption">
                  <h3 class="h4">รับส่วนลดพิเศษ</h3>
                  <p class="font-default">จากร้านค้าที่ร่วมรายการบน Rabbit LINE Pay</p>
                  <div class="action">
                    <a href="javascript:void" class="link more popup-contentXX">รายละเอียด และเงื่อนไข</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="cards" data-cards-row="2">
              <div class="card">
                <div class="image">
                  <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/offer/plane.png"
                    data-src="/SiteCollectionDocuments/kcc/linepoints/img/offer/plane.png" alt="">
                </div>
                <div class="caption">
                  <h3 class="h4">เดินทางอย่างวางใจ</h3>
                  <p class="font-default">ประกันอุบัติเหตุการเดินทาง <br class="visible-w414" />วงเงินสูงสุด 8,000,000 บาท</p>
                  <div class="action">
                    <a href="javascript:void" class="link more popup-contentXX">รายละเอียด และเงื่อนไข</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img class="lazy" src="/SiteCollectionDocuments/kcc/linepoints/_img-mini/offer/email.png"
                    data-src="/SiteCollectionDocuments/kcc/linepoints/img/offer/email.png" alt="">
                </div>
                <div class="caption">
                  <h3 class="h4">บริการ K-eMail Statement</h3>
                  <p class="font-default">รับใบแจ้งยอดบัตรเครดิตได้ ไม่ต้องรอไปรษณีย์ สมัครง่าย ไม่มีค่าใช้จ่าย รู้ยอดเร็วตรงเวลากว่าใคร</p>
                  <div class="action"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
          
      <section id="benefits" class="section global-section sc-benefits sc-over-hidden fx-section" data-dl-section="benefits">
        <div class="sc-inner-s">
          <div class="container">
            <div class="sc-heading a-center">
              <h2>สิทธิประโยชน์ที่มีในทุกบัตร</h2>
            </div>

            <div class="cards">
              <div v-for="(card, index) in this.card" class="card" :data-card-index="index">
                <img :src="card.cardThumbnail" alt="">
                <div v-html="card.cardTitle"></div>
                <div v-html="card.cardBody"></div>
                <div class="action" v-html="card.cardAction"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
          
      <section id="product-video" class="section sc-bg-black fx-section" data-dl-section="product-video">
        <div class="sc-inner">
          <div class="container">
            <div class="sc-heading a-center">
              <h2 class="c-white">อีกระดับของความสุขที่มากกว่า</h2>
            </div>
            <style scoped>
              .videoPoster {
                background-image: url(/SiteCollectionDocuments/kcc/linepoints/img/mockup-video.jpg);
                background-position: center;
              }
            </style>
            <div class="video-wrapper video-wrapper-full js-videoWrapper">
              <div class="videoIframe js-videoIframe" id="youtube-embed-player"></div>
              <div class="videoIframePanel" id="youtube-embed-panel"></div>
              <div class="videoPoster js-videoPoster" id="youtube-embed-poster"></div>
              <div class="video-title">
                <div class="icon js-videoPoster pxtm-click-playVideo" id="youtube-embed-playicon" title="vdo อีกระดับของความสุขที่มากกว่า" onclick="videoClick(this);">
                  <img src="/SiteCollectionDocuments/kcc/img/play-vdo.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="application-details" class="section global-section sc-application-detail fx-section" data-dl-section="application-details">
        <div class="sc-inner">
          <div class="sc-container container">
            <div class="sc-heading">
              <h2>รายละเอียดการสมัคร</h2>
            </div>

            <ul class="tab-responsive-rv visible-w1023">
              <li v-for="card in this.card" 
                :data-tab-selection="card.cardName"
                class="pxtm-click-toggleDetail">
                  <strong>{{ card.cardTitle }}</strong>
              </li>
            </ul>

            <div class="tab-responsive-scroll-rv">
              <div class="tab-responsive-close-wrapper-rv">
                <a href="#" class="tab-responsive-close-rv"><i class="ic ic-arrow-left"></i></a>
              </div>

              <div class="tab-container-rv">

                <h3 v-for="card in this.card" :class="card.cardName + '-content'" class="h2 tab-heading-rv a-center">{{ card.cardTitle }}</h3>

                <div class="compn-overflow">
                  <div class="compn-overflow-wrapper">
                    <div class="tab-rv compn">
                      <a v-for="(tab, index) in this.tab" 
                        :href="tab.href" 
                        :title="'application_details_' + tab.title"
                        :class="{ active: index == 0 }" 
                        class="pxtm-click-toggleDetail">
                        {{ tab.title }}
                      </a>
                    </div>
                  </div>
                  <div class="compn-overflow-scroll-wrapper">
                    <div class="compn-overflow-scroll"></div>
                  </div>
                </div>

                <div :id="tab.tabId" v-for="(tab, tabIndex) in app" :key="tab.tabId" :class="{ active: tabIndex == 0 }" class="tab-content-rv">
                  <div v-for="card in tab.tabCards" :class="card.cardRoleClassName" class="row">
                    <div class="sc-headline a-left hidden-w1023">
                      <h3>{{ card.cardTitle }}</h3>
                    </div>
                    <div v-for="col in card.cardCols" class="col col-md-6 col-xs-12">
                      <template v-for="row in col.rows">
                        <h4 v-if="row.rowTitle != null" class="h5">{{ row.rowTitle }}</h4>
                        <h5 v-if="row.rowSubTitle != null" class="h6">{{ row.rowSubTitle }}</h5>
                        <div v-html="row.rowBody"></div>
                        <div v-html="row.rowRemark"></div>
                      </template>
                    </div>
                    <div v-if="card.cardRemark != null" class="col col-xs-12 pl-0">
                      <div class="hr"></div>
                      <div v-html="card.cardRemark"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <section id="application-details" class="section sc-application-detail fx-section" data-dl-section="appication-details">
        <div class="sc-inner">
          <div class="sc-container container">
            <div class="sc-heading">
              <h2>รายละเอียดการสมัคร</h2>
            </div>

            <ul class="tab-responsive-rv visible-w1023">
              <li class="pxtm-click-toggleDetail" data-tab-selection="qualification"><strong>คุณสมบัติ</strong></li>
              <li class="pxtm-click-toggleDetail" data-tab-selection="document"><strong>เอกสารประกอบการสมัคร</strong></li>
            </ul>

            <div class="tab-responsive-scroll-rv">

              <div class="tab-responsive-close-wrapper-rv">
                <a href="#" class="tab-responsive-close-rv"><i class="ic ic-arrow-left"></i></a>
              </div>

              <div class="tab-container-rv">
                <h3 class="h2 tab-heading-rv a-center qualification-content">คุณสมบัติ</h3>
                <h3 class="h2 tab-heading-rv a-center document-content">เอกสารประกอบการสมัคร</h3>

                <div class="compn-overflow">
                  <div class="compn-overflow-wrapper">
                    <div class="tab-rv compn"></div>
                  </div>
                  <div class="compn-overflow-scroll-wrapper">
                      <div class="compn-overflow-scroll"></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section> -->
          
      <section id="apply" class="section sc-apply fx-section" data-dl-section="apply"></section>

      <section id="kplus-services" class="section sc-services sc-no-p-m fx-section" data-dl-section="kplus-services">
        <div class="sc-inner sc-inner-no-p-m">
          <div class="container">
            <div class="cards sc-bg-blue-gradient">
              <div class="card">
                <div class="img-slot hidden-w767">
                  <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/1.png" alt="">
                </div>
                <div class="caption">
                  <h2 class="c-green">K PLUS Service</h2>
                  <p class="display-4 c-white"><strong>เปิดใช้บริการบัตรเครดิต</strong></p>
                  <div class="img-slot visible-w767">
                    <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/1.png" alt="">
                  </div>
                  <div class="action">
                    <a href="https://www.kasikornbank.com/th/personal/digital-banking/kplus/functions/credit-card/Pages/add-credit-card.html" target="_blank" class="link more pxtm-click-linkClick" title="รายละเอียดเพิ่มเติม K PLUS Service">รายละเอียดเพิ่มเติม</a>
                  </div>
                  <div class="dots-slot"></div>
                </div>
              </div>

              <div class="card">
                <div class="img-slot hidden-w767">
                  <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/2.png" alt="">
                </div>
                <div class="caption">
                  <h2 class="c-green">Bill Payment</h2>
                  <p class="display-4 c-white"><strong>ตรวจสอบยอดใช้จ่ายบัตรเครดิต</strong></p>
                  <div class="img-slot visible-w767">
                    <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/2.png" alt="">
                  </div>
                  <div class="action">
                    <a href="https://www.kasikornbank.com/th/personal/digital-banking/kplus/functions/credit-card/Pages/detail-credit-card.html" target="_blank" class="link more pxtm-click-linkClick" title="รายละเอียดเพิ่มเติม Bill Payment">รายละเอียดเพิ่มเติม</a>
                  </div>
                  <div class="dots-slot"></div>
                </div>
              </div>

              <div class="card">
                <div class="img-slot hidden-w767">
                  <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/3.png" alt="">
                </div>
                <div class="caption">
                  <h2 class="c-green">K Statements</h2>
                  <p class="display-4 c-white"><strong>ตรวจสอบใบแจ้งยอดบัญชีบัตรเครดิต</strong></p>
                  <div class="img-slot visible-w767">
                    <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/3.png" alt="">
                  </div>
                  <div class="action">
                    <a href="https://www.kasikornbank.com/th/personal/digital-banking/kplus/functions/credit-card/Pages/Statement.html" target="_blank" class="link more pxtm-click-linkClick" title="รายละเอียดเพิ่มเติม K Statements">รายละเอียดเพิ่มเติม</a>
                  </div>
                  <div class="dots-slot"></div>
                </div>
              </div>

              <div class="card">
                <div class="img-slot hidden-w767">
                  <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/4.png" alt="">
                </div>
                <div class="caption">
                  <h2 class="c-green">Change Limit</h2>
                  <p class="display-4 c-white"><strong>ขอเพิ่มวงเงินชั่วคราว</strong></p>
                  <div class="img-slot visible-w767">
                    <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/4.png" alt="">
                  </div>
                  <div class="action">
                    <a href="https://www.kasikornbank.com/th/personal/digital-banking/kplus/functions/credit-card/Pages/Change-Limit.html" target="_blank" class="link more pxtm-click-linkClick" title="รายละเอียดเพิ่มเติม Change Limit">รายละเอียดเพิ่มเติม</a>
                  </div>
                  <div class="dots-slot"></div>
                </div>
              </div>

              <div class="card">
                <div class="img-slot hidden-w767">
                  <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/5.png" alt="">
                </div>
                <div class="caption">
                  <h2 class="c-green">Smart Pay by K PLUS</h2>
                  <p class="display-4 c-white"><strong>บริการแบ่งจ่ายรายเดือน</strong></p>
                  <div class="img-slot visible-w767">
                    <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/5.png" alt="">
                  </div>
                  <div class="action">
                    <a href="https://www.kasikornbank.com/th/personal/digital-banking/kplus/functions/credit-card/Pages/Installment-payment.html" target="_blank" class="link more pxtm-click-linkClick" title="รายละเอียดเพิ่มเติม Smart Pay by K PLUS">รายละเอียดเพิ่มเติม</a>
                  </div>
                  <div class="dots-slot"></div>
                </div>
              </div>

              <div class="card">
                <div class="img-slot hidden-w767">
                  <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/6.png" alt="">
                </div>
                <div class="caption">
                  <h2 class="c-green">Smart Cash by K PLUS</h2>
                  <p class="display-4 c-white"><strong>บริการเงินด่วน</strong></p>
                  <div class="img-slot visible-w767">
                    <img src="/SiteCollectionDocuments/kcc/linepoints/img/kplus-services/6.png" alt="">
                  </div>
                  <div class="action">
                    <a href="https://www.kasikornbank.com/th/personal/digital-banking/kplus/functions/credit-card/Pages/Quick-Money.html" target="_blank" class="link more pxtm-click-linkClick" title="รายละเอียดเพิ่มเติม Smart Cash by K PLUS">รายละเอียดเพิ่มเติม</a>
                  </div>
                  <div class="dots-slot"></div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
          
      <section id="faqs" class="section sc-bg-gray sc-faq fx-section" data-dl-section="faqs">
        <div class="sc-inner-s">
          <div class="container container-sm">
            <div class="sc-heading a-center mt-20 mt-md-0">
              <h2>คำถามที่พบบ่อย</h2>
            </div>
            
            <div class="accordion-group">
              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">LINE POINTS จากบัตรเครดิตกสิกรไทย – LINE POINTS คืออะไร ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>LINE POINTS คือ คะแนนสะสมที่ Rabbit LINE Pay มอบให้กับผู้ถือบัตรเครดิตกสิกรไทย-ไลน์พอยท์ LINE POINTS (“บัตรเครดิต”) ที่ปฏิบัติตามเงื่อนไขที่ธนาคารกำหนด โดยนำเข้า Rabbit LINE Pay E-Wallet ของผู้ถือบัตรที่เปิดใช้บริการ ตามเงื่อนไขระยะเวลาที่กำหนด</p>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">LINE POINTS สามารถใช้ที่ไหนได้บ้าง ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>สามารถใช้ LINE POINTS เป็นส่วนลดแทนเงินสดได้ทันทีเมื่อซื้อสติกเกอร์, ธีม, เมโลดี้บน store.line.me หรือเมื่อใช้ชำระค่าสินค้าและ/หรือบริการด้วย Rabbit LINE Pay E-Wallet ที่ร้านค้าตามที่ Rabbit LINE Pay กำหนด ซึ่งปัจจุบันมีร้านค้าทั้งออนไลน์ และออฟไลน์ มากกว่า 300,000 ร้านค้าทั่วประเทศ</p>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">LINE POINTS มีมูลค่าเท่าไร ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>1 LINE POINTS เทียบเท่ากับ 1 บาท</p>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">ทำยังไงถึงจะได้รับ LINE POINTS ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>ลูกค้าต้องเปิดบัญชี Rabbit LINE Pay และทำการเพิ่มบัตรกสิกรไทย – LINE POINTS เข้ากับ E-Wallet เพื่อรองรับ LINE POINTS จากการใช้บัตรเครดิต</p>
                    <strong>ข้อควรระวัง :</strong>
                    <p>หากท่านนำบัตรเครดิตกสิกรไทย – LINE POINTS ไปใช้โดยที่ไม่ได้ทำการเพิ่มบัตรเครดิตกับ E-Wallet ของ Rabbit LINE Pay ท่านจะไม่ได้รับ LINE POINTS จากการใช้บัตรเครดิตดังกล่าว</p>
                    <strong>หมายเหตุ :</strong>
                    <p>เมื่อดำเนินการสำเร็จ ท่านจะได้รับข้อความแจ้งเตือนอัตโนมัติที่ระบุเงื่อนไขการสะสม LINE POINTS ที่จะมีผลในวันถัดไปนับจากวันที่ทำการผูกบัตรเครดิตกสิกรไทย – LINE POINTS เพื่อสะสม LINE POINTS จากการใช้จ่ายผ่านบัตร</p>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">เมื่อไรถึงจะได้รับ LINE POINTS จากการใช้งานบัตรเครดิตกสิกรไทย – LINE POINTS ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>ผู้ถือบัตรจะได้รับ LINE POINTS ในวันถัดไปนับจากวันที่ร้านค้าแจ้งยืนยันให้มีการเรียกเก็บเงินค่าสินค้า/บริการจากรายการที่ชำระด้วยบัตรเครดิตมายังธนาคาร ในกรณีชำระที่ร้านค้าต่างธนาคาร ผู้ถือบัตรจะได้รับ LINE POINTS ในวันถัดไปนับจากวันที่ธนาคารได้รับคำสั่งให้เรียกเก็บเงินจากผู้ถือบัตรผ่าน Card Scheme Provider</p>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">วิธีการคำนวนคะแนน LINE POINTS ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>
                      จำนวน LINE POINTS ที่จะได้รับ : ยอดใช้จ่ายบัตรเครดิต x อัตราการได้ LINE POINTS*
                      <br>(*อัตราการได้ LINE POINTS : *ปีที่หนึ่ง = 3% , ปีที่สอง = 2%, ปี่ที่สาม-ห้า = 1% เว้นแต่ธนาคารจะกำหนดเป็นอย่างอื่น)
                    </p>
                    <ul>
                      <li>จำนวน LINE POINTS ที่จะได้รับจะถูกคำนวณเป็นจำนวนเต็ม โดยตัดทศนิยมออก</li>
                      <li>จำนวน LINE POINTS ที่จะได้รับจะถูกคำนวณจากยอดชำระเต็มจำนวน</li>
                      <li>สำหรับกรณีแบ่งชำระ จำนวน LINE POINTS ที่จะได้รับจะถูกคำนวณจากยอดชำระเต็มจำนวนเท่านั้น</li>
                      <li>ไม่จำกัดยอดสูงสุด หรือยอดต่ำสุดในการการชำระด้วยบัตรเครดิตที่นำมาคำนวณ LINE POINTS แต่จำกัดสิทธิ์การได้รับ LINE POINTS ตามวงเงินบัตรเครดิตถาวรในแต่ละรอบบัญชีบัตรเครดิตของผู้ถือบัตร</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">ประเภทของรายการใช้จ่ายผ่านบัตรที่ไม่ได้รับ LINE POINTS ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>รายการที่ไม่ได้รับ LINE POINTS : รายการเบิกถอนเงินสดล่วงหน้า รายการชำระค่าสาธารณูปโภค ค่าไฟฟ้า ค่าน้ำประปา และค่าโทรศัพท์พื้นฐาน รายการใช้จ่าย ณ ร้านค้าที่จดทะเบียนในกลุ่มประเทศเขต EEA. ค่าภาษี ค่าธรรมเนียม ค่าปรับและดอกเบี้ยทุกประเภท รายการชำระเบี้ยประกันควบการลงทุน ค่าหน่วยลงทุนจากการซื้อขายกองทุนทุกประเภท รายการซื้อธนบัตรต่างประเทศ หากมีข้อพิพาทคำตัดสินของธนาคารถือเป็นที่สิ้นสุด</p>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">LINE POINTS มีหมดอายุหรือไม่ ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>LINE POINTS ที่ได้รับจากการใช้งานบัตรเครดิตกสิกรไทย – LINE POINTS จะมีอายุ 365 (หรือ 366) วันหลังจากวันที่ได้รับ LINE POINTS</p>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">ติดต่อสอบถามรายละเอียดเกี่ยวกับการใช้งาน LINE POINTS หรือ Rabbit LINE Pay Application ได้ที่ไหน ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>ผู้ถือบัตรสามารถตรวจสอบ LINE POINTS หรือการใช้งาน LINE POINTS สามารถติดต่อสอบถามได้ที่ Call Center <a href="tel:02-0263779" class="link" title="">02-0263779</a> หรือ LINE@ : @rlpcs</p>
                  </div>
                </div>
              </div>

              <div class="accordion">
                <div class="accordion-title pxtm-click-toggleDetail">ติดต่อสอบถามรายละเอียดเกี่ยวกับการใช้งานบัตรเครดิตกสิกรไทย – LINE POINTS ?</div>
                <div class="accordion-content">
                  <div class="wrap">
                    <p>ผู้ถือบัตรสามารถสอบถามวิธีการใช้งานบัตรเครดิตกสิกรไทย – LINE POINTS ได้ที่ K-Contact Center <a href="tel:02-8888888" class="link" title="">02-8888888</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>