:root {
  --color-green: #00a94f;
  --color-grey-150: #E5E5E5;
  --color-grey-200: #EAEAEA;
  --color-grey-250: #E2E2E2;
  --color-grey-800: #333333;
}

.kcc.popup-revise .mfp-container {
  padding: 0 15px;
}

.kcc.popup-revise .mfp-content {
  max-width: 1200px;
  padding: 50px 0;
  background: transparent;
}

.kcc.popup-revise .mfp-content>div {
  background: white;
}

.kcc.popup-revise .mfp-content .mfp-close {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #00A950;
  color: #fff;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 35px !important;
  right: -15px !important;
  z-index: 1;
  opacity: 1;
}

.kcc.popup-revise .mfp-content .mfp-close:after {
  content: '\e921';
  font-family: iconkcc;
  font-size: 0.8em;
}

.kcc.popup-revise .mfp-content .sc-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.kcc.popup-revise .mfp-content .image-list .caption h3 {
  margin-bottom: 10px;
}

.kcc.popup-revise .mfp-content ul {
  margin: 20px 0 10px 1em;
}

.kcc.popup-revise .mfp-content ul ul {
  margin-top: 10px;
  margin-left: 2em;
}

.kcc.popup-revise .mfp-content ul li {
  list-style: disc;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.kcc p.condition, .kcc ul.condition li {
  font-size: 14px;
}

.kcc.popup-revise .mfp-content ul:not(.condition) li {
  font-size: 16px;
}

.kcc.popup-revise .mfp-content ul:not(.condition) li:not(:last-child) {
  margin-bottom: 10px;
}

.kcc.popup-revise .mfp-content ul.condition li:not(:last-child) {
  margin-bottom: 7px;
}

.kcc.popup-revise .mfp-content ul li.title {
  list-style: none;
  margin-left: -1em;
}

.kcc.popup-revise .mfp-content ul li strong {
  font-weight: 700;
}

.kcc.popup-revise .mfp-content h4, .kcc.popup-revise .mfp-content h5, .kcc.popup-revise .mfp-content h6 {
  margin-bottom: 10px;
}

.kcc.popup-revise .mfp-content .image-lists {
  margin: 15px 0;
}

.kcc.popup-revise .mfp-content .image-lists .caption {
  padding: 0 30px;
}

.kcc.popup-revise .mfp-content .image-lists .image-list {
  margin: 0;
  padding: 25px 15px;
  display: flex;
  flex-direction: row;
}

.kcc.popup-revise .mfp-content .image-lists .image-list .image {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}

.kcc.popup-revise .mfp-content .popup-image .img-paywave {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  margin: 30px 0;
}

.kcc .mfp-container {
  padding: 0 15px;
}

.kcc .mfp-content {
  max-width: 1200px;
  padding: 50px 0;
  background: transparent;
}

.kcc .mfp-content .promotion-header {
  position: relative;
  padding: 30px 0;
  background: url(../img/carousel/bg-popup-desktop.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  border-bottom: solid 5px #00A950;
}

.kcc .mfp-content .promotion-header h3, .kcc .mfp-content .promotion-header p {
  margin-top: 0;
  margin-bottom: 5px;
}

.kcc .mfp-content .promotion-header p small {
  font-size: 14px;
  color: #666;
}

.kcc .mfp-content .promotion-content h3 {
  font-size: 14px;
  color: #333;
}

.kcc .mfp-content .promotion-content h3.no-line {
  margin-top: 20px;
}

.kcc .mfp-content .promotion-content h3.hv-line {
  border-top: 1px solid #e2e2e2;
  padding-top: 20px;
  margin-top: 40px;
}

.kcc .mfp-content .promotion-content h3.hv-line.font-default, .kcc .mfp-content .promotion-content h3.no-line.font-default {
  font-family: Kanit, notosansthai, Arial, sans-serif !important;
  margin-bottom: -15px;
}

.kcc .mfp-content .promotion-content h3.hv-line.font-default strong, .kcc .mfp-content .promotion-content h3.no-line.font-default strong {
  font-family: Kanit, notosansthai, Arial, sans-serif !important;
}

.kcc .mfp-content .promotion-content ul li {
  color: #999;
  margin-bottom: 5px !important;
  font-size: 14px;
}

.kcc .mfp-content ul:not(.condition) li {
  font-size: 14px;
}

.kcc .mfp-content>div {
  background: white;
}

.kcc .mfp-content .promotion-content .discount-shopee {
  max-width: 660px;
  margin: auto;
}

.kcc .mfp-content .promotion-content .discount-shopee p {
  font-size: 16px;
  color: #333;
}

.kcc .mfp-content .promotion-content .discount-shopee .c-orange {
  color: #ee4e2e;
}

.kcc .mfp-content .promotion-content .discount-shopee p.note {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #999;
}

.kcc .mfp-content .promotion-content .discount-box {
  width: 100%;
  position: relative;
  display: table;
  table-layout: fixed;
  background: rgb(248, 128, 52);
  background: linear-gradient(90deg, rgba(248, 128, 52, 1) 35%, rgba(238, 78, 46, 1) 100%);
  margin: 20px 0;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.kcc .mfp-content .promotion-content .discount-box .image {
  width: 14%;
  display: table-cell;
  vertical-align: middle;
}

.kcc .mfp-content .promotion-content .discount-box .image img {
  width: 86px;
}

.kcc .mfp-content .promotion-content .discount-box .caption {
  width: 86%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}

.kcc .mfp-content .promotion-content .discount-box .caption h3 {
  font-size: 20px;
  font-family: Kanit, notosansthai, Arial, sans-serif;
  font-weight: 400 !important;
  color: #fff;
}

.kcc .mfp-content .promotion-content .discount-box .caption h3 span {
  display: block;
  font-size: 18px;
}

.kcc .mfp-content .promotion-content .discount-box .caption p {
  font-size: 14px;
  font-family: Kanit, notosansthai, Arial, sans-serif;
  color: #fff;
  margin-top: 3px;
}

.kcc .mfp-content .promotion-content .discount-box .obj {
  position: absolute;
  top: 0;
  right: 0;
}

.kcc .mfp-content .mfp-close {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #00A950;
  color: #fff;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 35px !important;
  right: -15px !important;
  z-index: 1;
  opacity: 1;
}

.kcc .mfp-content .mfp-close:after {
  content: '\e921';
  font-family: iconkcc;
  font-size: 0.8em;
}

.kcc .mfp-content .sc-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.kcc .mfp-content .image-list .caption h3 {
  margin-bottom: 10px;
}

.kcc .mfp-content ul {
  margin: 20px 0 10px 1em;
}

.kcc .mfp-content ul ul {
  margin-top: 10px;
  margin-left: 2em;
}

.kcc .mfp-content ul li {
  list-style: disc;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.kcc p.condition, .kcc ul.condition li {
  font-size: 14px;
}

.kcc .mfp-content ul:not(.condition) li:not(:last-child) {
  margin-bottom: 10px;
}

.kcc .mfp-content ul.condition li:not(:last-child) {
  margin-bottom: 7px;
}

.kcc .mfp-content ul li.title {
  list-style: none;
  margin-left: -1em;
}

.kcc .mfp-content ul li strong {
  font-weight: 700;
}

.kcc .mfp-content h4, .kcc .mfp-content h5, .kcc .mfp-content h6 {
  margin-bottom: 10px;
}

.kcc .mfp-content .image-lists {
  margin: 15px 0;
}

.kcc .mfp-content .image-lists .caption {
  padding: 0 30px;
}

.kcc .mfp-content .image-lists .image-list {
  margin: 0;
  padding: 25px 15px;
  display: flex;
  flex-direction: row;
}

.kcc .mfp-content .image-lists .image-list .image {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}

.kcc .mfp-content .popup-image .img-paywave {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  margin: 30px 0;
}

/*popup component overflower start*/

.kcc.popup-revise .mfp-content .table {
  border: solid 1px rgba(230, 230, 230, 0.7);
  border-width: 1px 1px 0 1px;
  border-collapse: separate;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.kcc.popup-revise .mfp-content .table th {
  background: #24C46A;
  color: white;
  font-size: 16px;
}

.kcc.popup-revise .mfp-content .table td {
  background: #F8F8F8;
  color: #666666;
}

.kcc.popup-revise .mfp-content .table td.c-green {
  color: #24C46A;
}

.kcc.popup-revise .mfp-content .table tbody tr:first-child td:nth-child(2) {
  background: #F2F2F2;
  color: #00A94F;
}

.kcc.popup-revise .mfp-content .table th, .kcc.popup-revise .mfp-content .table td {
  font-weight: 300;
  padding: 10px 15px;
  border-bottom: solid 1px #E6E6E6;
  vertical-align: middle;
}

.kcc.popup-revise .mfp-content .table th:not(:last-child), .kcc.popup-revise .mfp-content .table td:not(:last-child), .kcc.popup-revise .mfp-content .table tbody tr:last-child td, .kcc.popup-revise .mfp-content .table thead tr:last-child th {
  border-right: solid 1px #E6E6E6;
}

.kcc.popup-revise .mfp-content .table th, .kcc.popup-revise .mfp-content .table td:not(:first-child) {
  text-align: center;
}

.kcc.popup-revise .mfp-content .table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.kcc.popup-revise .mfp-content .table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.kcc.popup-revise .mfp-content .table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.kcc.popup-revise .mfp-content .table tbody tr:nth-last-child(2) td:last-child {
  border-bottom-right-radius: 10px;
}

.kcc .mfp-content .table {
  border-width: 1px 1px 0 1px;
  border-color: var(--color-grey-200);
  border-collapse: separate;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 660px;
  margin: auto;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.2);
}

.kcc .mfp-content .table th {
  background: rgb(239, 102, 59);
  background: linear-gradient(180deg, rgba(239, 102, 59, 1) 0%, rgba(236, 65, 47, 1) 100%);
  color: white;
  font-size: 18px;
  border-bottom: 0 !important;
  font-family: Kanit, notosansthai, Arial, sans-serif;
  font-weight: 400 !important;
}

.kcc .mfp-content .table td {
  color: #666666;
  text-align: center;
  font-size: 16px;
}

.kcc .mfp-content .table td span small {
  font-size: 85%;
}

.kcc .mfp-content .table td.c-orange strong {
  color: #ee4e2e;
}

.kcc .mfp-content .table td.c-green {
  color: #008e46;
}

.kcc .mfp-content .table th, .kcc .mfp-content .table td {
  font-weight: 300;
  padding: 10px 15px;
  border-bottom: 1px solid var(--color-grey-150);
  border-right: 1px solid var(--color-grey-200);
  vertical-align: middle;
}

.kcc .mfp-content .table th, .kcc .mfp-content .table td:not(:first-child) {
  text-align: center;
}

.kcc .mfp-content .table tbody tr:first-child td:first-child {
  border-top-left-radius: 10px;
  border-top: 1px solid var(--color-green);
}

.kcc .mfp-content .table tbody tr:first-child td:last-child {
  border-top-right-radius: 10px;
  border-top: 1px solid var(--color-grey-200);
}

.kcc .mfp-content .table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid var(--color-green);
}

.kcc .mfp-content .table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid var(--color-grey-200);
}

.kcc .mfp-content .table tbody tr {
  border: 0 !important;
}

/*popup component overflower end*/

@media screen and (max-width: 1299px) {
  .kcc.popup-revise .mfp-content .mfp-close {
      right: -10px !important;
  }
  .kcc .mfp-content .mfp-close {
      right: -10px !important;
  }
}

@media screen and (max-width: 991px) {
  .kcc.popup-revise .mfp-content .image-lists {
      margin: 30px 0;
  }
  .kcc.popup-revise .mfp-content .image-lists .image-list {
      flex-direction: column;
      align-items: center;
  }
  .kcc.popup-revise .mfp-content .image-lists .image-list:first-child {
      padding-top: 0;
  }
  .kcc.popup-revise .mfp-content .image-lists .image-list:last-child {
      padding-bottom: 0;
  }
  .kcc.popup-revise .mfp-content .image-lists .caption {
      text-align: center;
      padding: 15px 0 0 0;
  }
  .kcc .mfp-content .image-lists {
      margin: 30px 0;
  }
  .kcc .mfp-content .image-lists .image-list {
      flex-direction: column;
      align-items: center;
  }
  .kcc .mfp-content .image-lists .image-list:first-child {
      padding-top: 0;
  }
  .kcc .mfp-content .image-lists .image-list:last-child {
      padding-bottom: 0;
  }
  .kcc .mfp-content .image-lists .caption {
      text-align: center;
      padding: 15px 0 0 0;
  }
  .kcc .mfp-content .promotion-content .accordion-group {
      border-bottom: 1px solid #e8e8e8;
      margin-top: 30px;
  }
  .kcc .mfp-content .promotion-content .accordion-title {
      padding-left: 0;
      border-left: 0;
      font-weight: 700;
  }
  .kcc .mfp-content .promotion-content .accordion-title:after, .kcc .mfp-content .promotion-content .accordion-title:hover, .kcc .mfp-content .promotion-content .accordion-title.active {
      color: #333;
  }
  .kcc .mfp-content .promotion-content .accordion-content .wrap {
      padding: 0;
      padding-bottom: 14px;
  }
  .kcc .mfp-content .promotion-content .accordion-rewise:not(:last-child) {
      margin-bottom: 0;
  }
  .kcc .mfp-content .promotion-content .accordion-content .wrap ul {
      margin-top: 0;
  }
  .kcc .mfp-content .promotion-content .accordion-title:after {
      content: "\e918";
      font-size: 12px;
  }
  .kcc .mfp-content .promotion-content .accordion-title.active:after {
      content: "\e902";
  }
}

@media screen and (max-width: 767px) {
  .kcc .mfp-content .promotion-header {
      background-image: url(../img/carousel/bg-popup-mobile.png);
  }
  .kcc .mfp-content .table td span {
      display: block;
  }
  .kcc .mfp-content .promotion-header h3 {
      font-size: 19px;
  }
  .kcc .mfp-content .promotion-content .discount-box {
      display: inline-block;
      text-align: center;
      padding: 15px 10px;
  }
  .kcc .mfp-content .promotion-content .discount-box .image {
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
  }
  .kcc .mfp-content .promotion-content .discount-box .caption {
      width: 100%;
      display: inline-block;
      padding-left: 0;
  }
}

/* Circle */

.circle-green {
  line-height: 1;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .circle-green {
      margin-right: 0;
      margin-bottom: 8px;
  }
}

.kcc .mfp-content .list-note .item {
  padding: 0;
  margin-bottom: 2px !important;
}

.kcc.popup-content-style .mfp-content {
  padding: 50px 0;
  max-height: inherit;
}

.kcc .mfp-content .accordion-rewise {}

.kcc .mfp-content .accordion-rewise .accordion-title {
  border-left: 0;
  padding-left: 0;
  padding-bottom: 0;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 14px;
  cursor: default;
  position: relative;
  z-index: 0;
}

.kcc .mfp-content .accordion-rewise .accordion-title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.kcc .mfp-content .accordion-rewise .accordion-title.active, .kcc .mfp-content .accordion-rewise .accordion-title:hover {
  color: var(--color-grey-800);
}

.kcc .mfp-content .accordion-rewise .accordion-content .wrap {
  padding-left: 3px;
  padding-right: 0;
}

.kcc .mfp-content .promotion-content .accordion-content .wrap ul {
  margin-top: 20px;
}

.kcc .mfp-content .promotion-content .accordion-group {
  padding-bottom: 1px solid var(--color-grey-250);
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .kcc .mfp-content .accordion-rewise .accordion-title {
      border-top: 1px solid var(--color-grey-250);
      padding-top: 15px;
  }
}

@media screen and (min-width: 992px) {
  .kcc .mfp-content .accordion-rewise .accordion-title:after {
      content: "";
      /* color: var(--color-grey-800);
      content: "\e918";
      top: auto;
      transform: translate(0); */
  }
  .kcc .mfp-content .promotion-content .accordion-title.active:after {
      /* content: "\e902"; */
  }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
  .kcc .mfp-content .promotion-content .accordion-title {
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 15px;
  }
  .kcc .mfp-content .promotion-content .accordion-title.active {
      border-bottom: 0;
  }
}

.equal-line {
  top: -14px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.border-line-point-green {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.border-line-point-content {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (min-width: 767px) {
  .border-line-point-green {
      border-top-left-radius: 10px;
      border-top-right-radius: 0;
  }
  .border-line-point-content {
      border-top-left-radius: 0px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 10px;
  }
}