.theme-shopee .sc-floating-apply {
  position: fixed;
  width: 100%;
  z-index: 99;

  /*space for header-top*/
  top: 80px;
  left: 0;
}

.theme-shopee .sc-floating-apply:before {
  content: "";
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  background: white;

  -webkit-transition: opacity 0.15s 0s linear;
  -moz-transition: opacity 0.15s 0s linear;
  -o-transition: opacity 0.15s 0s linear;
  transition: opacity 0.15s 0s linear;
}

.theme-shopee .sc-floating-apply.active:before {
  opacity: 1;
  border-bottom: solid 1px #EEEEEE;
}

.theme-shopee .sc-floating-apply .sc-content {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px 0;
  border-top: solid 1px rgba(238, 238, 238, 0.2);
}

.theme-shopee .sc-floating-apply .action {
  margin-top: 0;
  margin-left: auto;
}

.theme-shopee .sc-floating-apply ul li {
  display: inline-block;
}

.theme-shopee .sc-floating-apply ul li:not(:last-child) {
  margin-right: 20px;
}

.theme-shopee .sc-floating-apply ul li a {
  color: white;
}

.theme-shopee .sc-floating-apply.active ul li a {
  color: #333333;
}

/*mobile*/
.theme-shopee .sc-floating-apply-m {
  position: fixed;
  z-index: 99;
  width: 100%;

  bottom: 0;
  left: 0;

  background: white;
  border-top: solid 1px #EEEEEE;
}

.theme-shopee .sc-floating-apply-m .sc-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 10px 0;
}

.theme-shopee .sc-floating-apply-m .action {
  margin-top: 0;
  margin-left: auto;
}

.theme-shopee .sc-floating-apply-m .action .btn {
  padding: 0 30px;
}

.theme-shopee .sc-floating-apply-m img {
  width: 60px;
  margin-right: 10px;
  border-radius: 3px;
}

/*responsive*/
.theme-shopee .sc-floating-apply-m {
  display: none;
}

.theme-shopee .sc-floating-apply {
  display: block;
}

@media screen and (max-width: 1024px) {
  .theme-shopee .sc-floating-apply-m {
    display: block;
  }

  .theme-shopee .sc-floating-apply {
    display: none;
  }
}