.theme-shopee .sc-offers .sc-inner {
  padding-top: 0;
}

.theme-shopee .sc-offers .caption .action {
  margin-top: 15px;
}

.theme-shopee .sc-offers .caption .action a {
  display: block;
}

.theme-shopee .sc-offers .cards {
  display: flex;
  flex-direction: row;
}

.theme-shopee .sc-offers .cards[data-cards-row="1"] {
  border: solid 1px #EEEEEE;
  border-radius: 10px 10px 0 0;
}

.theme-shopee .sc-offers .cards[data-cards-row="2"] {
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 10px 10px;
}

.theme-shopee .sc-offers .cards .card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: 100%;
  padding: 30px 45px;
}

.theme-shopee .sc-offers .cards .card:first-child {
  border-right: solid 1px #EEEEEE;
}

.theme-shopee .sc-offers .cards .card .image {
  margin-right: 45px;
}

.theme-shopee .sc-offers .cards .card .image i {
  font-size: 50px;
}

.theme-shopee .sc-offers .cards .card .caption p {
  margin-top: 5px;
}

@media screen and (max-width: 991px) {
  .theme-shopee .sc-offers .sc-inner {
    padding-top: 30px;
  }

  .theme-shopee .sc-offers .cards .card {
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 30px 15px;
  }

  .theme-shopee .sc-offers .cards .card .image {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .theme-shopee .sc-offers .cards[data-cards-row] {
    flex-direction: column;

    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  .theme-shopee .sc-offers .cards .card {
    border-radius: 0;
  }

  .theme-shopee .sc-offers .cards .card:first-child {
    border-right: 0;
    border-bottom: solid 1px #EEEEEE;
  }
}