.theme-shopee .sc-services .cards {
  border-radius: 10px;
  margin-bottom: 0;
}

.theme-shopee .sc-services .cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 0 30px;
}

.theme-shopee .sc-services .cards .card.slick-slide img,
.theme-shopee .sc-services .cards .card.slick-slide h2,
.theme-shopee .sc-services .cards .card.slick-slide p,
.theme-shopee .sc-services .cards .card.slick-slide .action {
  -webkit-transition: all 1s 0s ease-in-out;
  -moz-transition: all 1s 0s ease-in-out;
  -o-transition: all 1s 0s ease-in-out;
  transition: all 1s 0s ease-in-out;

  opacity: 0;
}

.theme-shopee .sc-services .cards .card.slick-active img,
.theme-shopee .sc-services .cards .card.slick-active h2,
.theme-shopee .sc-services .cards .card.slick-active p,
.theme-shopee .sc-services .cards .card.slick-slide .action {
  opacity: 1;
}

.theme-shopee .sc-services .cards .card > .img-slot {
  width: 55%;
}

.theme-shopee .sc-services .cards .card > .img-slot img {
  width: 480px;
  margin-left: auto;
}

.theme-shopee .sc-services .cards .card .dots-slot {
  position: relative;
  margin-top: 40px;

  text-align: left;
}

.theme-shopee .sc-services .cards .slick-prev {
  left: 15px;
}

.theme-shopee .sc-services .cards .slick-next {
  right: 15px;
}

.theme-shopee .sc-services .cards .card .dots-slot .slick-dots {
  position: relative;
  text-align: left;
}

.theme-shopee .sc-services .cards .card .dots-slot .slick-dots li:first-child {
  margin-left: 0;
}

.theme-shopee .sc-services .cards .card .dots-slot .slick-dots li button {
  background: rgba(0, 168, 80, 0.3);
}

.theme-shopee .sc-services .cards .card .dots-slot .slick-dots li.slick-active button {
  background: #00A950;
}

@media screen and (max-width: 767px) {
  .theme-shopee .sc-services .cards {
    border-radius: 0;
  }

  .theme-shopee .sc-services .cards .card {
    justify-content: center;

    padding: 30px;
  }

  .theme-shopee .sc-services .cards .card .caption {
    text-align: center;
  }

  .theme-shopee .sc-services .cards .card .caption > .img-slot img {
    width: 275px;
    margin: auto;
  }

  .theme-shopee .sc-services .cards .card .action {
    margin-top: 0;
  }

  .theme-shopee .sc-services .cards .card .dots-slot {
    margin-top: 15px;
  }

  .theme-shopee .sc-services .cards .card .dots-slot .slick-dots {
    text-align: center;
  }

  .theme-shopee .sc-services .cards .card .dots-slot .slick-dots li:first-child {
    margin-left: unset;
  }
}