.theme-shopee .sc-special .cards {
  margin-left: -10px;
  margin-right: -10px;

  padding-bottom: 40px;
  margin-bottom: 0;
}

.theme-shopee .sc-special .cards .slick-list {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 0;
}

.theme-shopee .sc-special .cards .card {
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;

  width: 100%;
  margin: 0 10px;
}

.theme-shopee .sc-special .cards .card .caption {
  padding: 30px;

  background: url(../img/carousel/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.theme-shopee .sc-special .cards .card .caption p {
  overflow-wrap: break-word;
}

.theme-shopee .sc-special .cards .card .caption .action,
.theme-shopee .sc-special .cards .card .caption p {
  margin-top: 10px;
}

.theme-shopee .sc-special .cards .card .caption .action a {
  display: block;
}

@media screen and (max-width: 991px) {
  .theme-shopee .sc-special .cards .slick-list {
    overflow-x: visible;
    overflow-y: visible;
    
  }

  .theme-shopee .sc-special .cards .slick-arrow {
    top: 180px;
  }
}

@media screen and (max-width: 767px) {
  .theme-shopee .sc-special .cards .slick-list {
    overflow-x: visible;
    overflow-y: visible;
    padding-right: 50px !important;
  }

  .theme-shopee .sc-special .cards .slick-arrow {
    top: 200px;
  }
}

@media screen and (max-width: 400px) {
  .theme-shopee .sc-special .cards .slick-arrow {
    top: 175px;
  }
}