.header-top.kcc-active:before {
  opacity: 1;
  background: #00A950;
  background: -webkit-gradient(linear, left top, right top, from(#00A950), to(#61d699));
  background: linear-gradient(90deg, #00A950 0%, #61d699 100%);
  background-size: 100% auto;
}

main.loading {
  opacity: 0;
}

.theme-shopee .sc-product-detail {
  background: #FF7E45;
  background: -moz-linear-gradient(left, #FF7E45 0%, #F08223 50%, #FF7E45 100%);
  background: -webkit-linear-gradient(left, #FF7E45 0%, #F08223 50%, #FF7E45 100%);
  background: linear-gradient(to right, #FF7E45 0%, #F08223 50%, #FF7E45 100%);

  padding-top: 150px;
}

.theme-shopee #related-card h3.heading {
  height: 75px;
}

.theme-shopee #related-card h3.heading a {
  font-size: inherit;
}

.theme-shopee .slick-arrow {
  z-index: 98;
}

.theme-shopee a.link {
  color: #00A950;
  text-decoration: underline;
}

.theme-shopee a.link.more:after {
  content: "\e905";
  font-family: icongarage;
  font-size: 9px;

  display: inline-block;
  margin-left: 7px;
}

.theme-shopee a.link.external:after {
  content: "\e90a";
  font-family: icongarage;
  font-size: 0.8em;

  display: inline-block;
  margin-left: 7px;
}

.kcc.popup-content-style .mfp-content .content {
  padding-right: 10px;

  overflow-y: auto;
  overflow-x: hidden;
}

.kcc.popup-content-style .mfp-content .image-list .caption h3 {
  margin-bottom: 10px;
}

.kcc.popup-content-style .mfp-content .content .list {
  margin-left: 17px;
}

.kcc.popup-content-style .mfp-content .content .list li {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.kcc.popup-content-style .mfp-content .content .list li strong {
  font-weight: 700;
}

.popup-content-style .mfp-content .popup-modal-dismiss .ic {
  margin-left: 0;
}

@media screen and (max-width: 1024px) {
  .theme-shopee .sc-product-detail {
    padding-top: 100px;
  }
}

@media screen and (max-width: 991px) {
  .kcc.popup-content-style .mfp-content {
    padding: 30px 10px 30px 20px;
  }
}

.videoIframePanel {
  background-color: #333;
  position: absolute;
  z-index: 1;
  width: 750px;
  height: 375px;
}
.videoPoster {
  z-index: 2;
}